# Web Storm 
.idea/
.idea/.name
.idea/encodings.xml
.idea/footballSimulator.iml
.idea/scopes/scope_settings.xml
simpd3.js
.idea/workspace.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml

# Big Files 
data/
examples/
video.mp4

# Shortcuts
Study directory.lnk
